# Incase seperate DB instances are not available, set the development connection string and do not change the mode
# Accepted values: "dev", "prod"
DB_MODE=dev

DB_PROD=ENTER_DB_CONNECTION_STRING_HERE
DB_DEV=ENTER_DB_CONNECTION_STRING_HERE

PORT=8080
JWT_SECRET=ENTER_YOUR_JWT_SECRET_HERE